<!-- Hiển thị 3-4 bài viết nổi bật -->
<div class="section section-grey topFeaturedNews">
    <div class="container">
        <div class="row" style="margin-left: 100px">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Bài viết nổi bật</h2>
                </div>
            </div>

            <div id="home-topFeaturedNews">
            </div>
        </div>
    </div>
<!-- /section -->


<!-- Hiển thị top 10 bài viết được xem nhiều nhất -->
<div class="section topMostView">
    <div class="container">
        <div class="row" style="margin-left: 100px">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Top 10 bài viết được xem nhiều nhất</h2>
                </div>
            </div>

            <div id="home-topMostViewNo1">
            </div>

            
            <div id="home-topMostViewNo2" class="col-md-6">
            </div>

            <div id="home-topMostViewNo3" style="width: 32%" class="col-md-4">
            </div>

            <div id="home-topMostViewNo4" class="col-md-12">
            </div>
        </div>
    </div>
</div>


<!-- Hiển thị top 10 bài viết mới nhất -->
<div class="section topLatestNews">
    <div class="container">
        <div class="row" style="margin-left: 100px">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Top 10 bài viết mới nhất</h2>
                </div>
            </div>

            <div id="home-topLatestNewsNo1">
            </div>

            
            <div id="home-topLatestNewsNo2" class="col-md-6">
            </div>

            <div id="home-topLatestNewsNo3" style="width: 32%" class="col-md-3">
            </div>

            <div id="home-topLatestNewsNo4" class="col-md-12">
            </div>
        </div>
    </div>
</div>

<!-- Hiển thị top 10 bài viết mỗi chuyên mục -->
<div class="section">
    <div class="container">
        <div class="row" style="margin-left: 100px">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Top 10 bài viết mỗi chuyên mục</h2>
                </div>
            </div>

            <div id="home-topOfCategoryNo1">
            </div>

            
            <div id="home-topOfCategoryNo2" class="col-md-6">
            </div>

            <div id="home-topOfCategoryNo3" style="width: 32%" class="col-md-3">
            </div>

            <div id="home-topOfCategoryNo4" class="col-md-12">
            </div>
        </div>
    </div>
</div>