<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-9">
                <div class="section-row sticky-container">
                    <div class="main-post">
                        <div class="news-avatar" id="news-avatar"></div>
                        <div class="news-title" id="news-title"></div>
                        <div>
                            <div class="col-sm-3" id="news-publicAt"></div>
                            <div class="col-sm-3" id="news-view"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <hr class="hr">
                        <div id="news-content" params={{params}}></div>

                    </div>
                </div>

                <!-- ad -->
                <div class="section-row text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="/img/ad-2.jpg" alt="">
                    </a>
                </div>
                <!-- ad -->



                <!-- comments -->
                <div class="section-row">
                    <div class="section-title">
                        <h2>Bình Luận</h2>
                    </div>

                    <div id="post-comments" class="post-comments" per_page={{num_cmt_each_page}} next_page=1>
                        <!-- comment -->

                        <!-- /comment -->
                    </div>
                    <div id="view-more-cmt-container" class="pull-right" hidden>
                        <button id="btn-view-more-cmt" class="btn-view-more-cmt">Xem thêm</button>
                    </div>
                    <div id="loading-comment-container" class="loading-comment pull-right">
                        <img src="/img/loading_comment.gif" alt=""></img>
                    </div>
                </div>
                <!-- /comments -->

                <!-- reply -->
                <div class="section-row" id="comment-form-container" idNews={{idNews}}>
                    {{!-- <form class="post-reply">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group">
                                    <span>Tên *</span>
                                    <input class="input" type="text" name="name">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="message" placeholder="Nội dung bình luận"></textarea>
                                </div>
                                 <input type="submit" class="primary-button" value="Gởi bình luận"></input>
                            </div>
                        </div>
                    </form> --}}
                </div>
                <!-- /reply -->
            </div>

            <!-- /Post content -->
            <!-- aside -->
            <div class="col-md-3">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->

                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Xem Thêm</h2>
                    </div>

                    <div id="post-widget-same-category" idNews={{idNews}}>
                    </div>
                </div>
                <!-- /post widget -->

                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Chuyên Mục</h2>
                    </div>
                    <div class="category-widget">
                        <ul id="ul-category-widget">

                        </ul>
                    </div>
                </div>
                <!-- /catagories -->

                <!-- tags -->
                <div class="aside-widget">
                    <div class="tags-widget">
                        <ul id="ul-tags-news">
                        </ul>
                    </div>
                </div>
                <!-- /tags -->
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->