<div id = "brinfo">
<form id = "form-profile">
	<table>
		<tr>
			<tr>
				<td style=" text-align: center;"><h2>Thông tin cá nhân</h2></td>
			</tr>
			<tr>
				<td><label>Họ và tên: </label><div><input tyle="text" placeholder="Họ và tên"></div> </td>
			</tr>
			<tr>
				<td>
					<label>Email: </label><div> <input tyle="email" placeholder="Email cá nhân"></div>
				</td>
			</tr>
			<tr>
				<td>
					<label>Bút danh: </label> <div><input tyle="" placeholder="Bút danh"></div>
				</td>
			</tr>
			<tr>
				<td>
					<label>Ngày tháng năm sinh: </label> <div><input type="date" name="bdaytime"></div>
				</td>
				
			</tr>
			<tr>
				<td style=" text-align: center;">
					<button class="box">Chỉnh sửa</button>
					<button>Lưu</button>
				</td>
			</tr>
		</tr>
	</table>
</form>
</div>