<div class="section">
    <div class="container">
        <div class="editor-div">
            <h1>Soạn bài viết</h1>
            <form id="create-news-form">
                <h2>Ảnh đại diện bài viết: </h2>
                <img id="blah" class="edit-avatar" src="/img/default.png" alt="your image" />
                <label class="custom-file-upload">
                    <input type="file" name="avatar" id="avatar" onchange="readURL(this);" />
                    Chọn ảnh
                </label>
                <h2>Tiêu đề bài viết: </h2>
                <input type="text" placeholder="Tiêu đề" id="title" required />

                <h2>Tóm tắt: </h2>
                <textarea placeholder="Viết nội dung tóm tắt vào đây" id="abstract" class="abstract-text" required></textarea>

                <h2>Nội dung: </h2>
                <div id="editor"></div>

                <table>
                    <tr>
                        <td>
                            <h2>Chuyên mục chính:</h2>
                        </td>
                        <td>
                            <select onchange="change_select_category()" id="select_category">
                                <option value="none">Chuyên mục</option>

                            </select>
                        </td>
                        <td>
                            <h2>Chuyên mục phụ: </h2>
                        </td>
                        <td>
                            <select id="select_sub_category" onchange="change_select_sub_category()" required>
                            </select>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <h2>Tag:</h2>
                        </td>
                        <td><select id="select_tags">
                                {{#each tag}}
                                <option value={{this.id}}>{{this.name}}</option>
                                {{/each}}
                            </select>
                        </td>
                        <td class="btn_add_tag">
                            <p onclick="add_tag_click()">+</p>
                        </td>
                    </tr>
                </table>
                <div>
                    <h2>Danh sách tag đã thêm: </h2>
                    <div id="list_tag">
                    </div>
                </div>
                <div class="button-complete" id="writer-create-submit-btn-container">
                    <input class="center-block" type="submit" value="Hoàn thành"></button>
                </div>
                <div id="loading-writer-create" class="col-md-12 loading" hidden>
                    <img class="center-block" src="/img/loading.gif" alt=""></img>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],
            ['link', 'image'],
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
            [{ 'script': 'sub' }, { 'script': 'super' }],
            [{ 'indent': '-1' }, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],

            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean']
        ];

        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
        });


    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(200)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
    <script type="text/javascript">
        let list_sub_category;
        $.ajax("/api/categories/getAllCategories", {
            type: 'get',
            dataType: 'json'
        }).done(function (data) {
            const select_category = $("#select_category");
            for (let i = 0, l = data.data.list_category.length; i < l; i++) {
                select_category.append(` <option value=${data.data.list_category[i].id}>${data.data.list_category[i].name}</option>`)
            };
            list_sub_category = data.data.list_sub_category
        }).fail(function (xhr, textStatus, errorThrown) {
            alert(errorThrown);
        });
        function change_select_category() {
            e = document.getElementById("select_category");

            var strUser = e.options[e.selectedIndex].text; // chuỗi được chọn ở chuyên mục cấp 1
            const select_sub_category = $("#select_sub_category");
            select_sub_category.empty();
            for (let i = 0, l = list_sub_category[strUser].length; i < l; i++) {
                select_sub_category.append(` <option value=${list_sub_category[strUser][i].id}>${list_sub_category[strUser][i].name}</option>`)
            };
        }

        function change_select_sub_category() {
            e = document.getElementById("select_sub_category");
            var strUser = e.options[e.selectedIndex].text; // chuỗi được chọn ở chuyên mục cấp 2
            var value = e.value; // giá trị được chọn ở chuyên mục cấp 1
        }
        var list_tag = []
        function add_tag_click() {
            e = document.getElementById("select_tags");
            var strUser = e.options[e.selectedIndex].text;
            var value = parseInt(e.value);
            var s = new String("");
            if (list_tag.length == 0)
                list_tag.push({
                    name: strUser,
                    id: value
                });
            else {
                let count = 1;
                for (let i = 0; i < list_tag.length; i++) {
                    if (list_tag[i].id === value) {
                        count = -1;
                        break;
                    }
                }
                if (count === 1) list_tag.push({
                    name: strUser,
                    id: value
                });
            }
            for (let i = 0; i < list_tag.length; i++) {
                s = s + "<label id = '" + list_tag[i].id + "'>" + list_tag[i].name + "<button id ='" + list_tag[i].id + "' onClick = 'delete_tag(this.id)'>X</button></label>" + '\n';
            }
            document.getElementById("list_tag").innerHTML = s;
            console.log(list_tag);
        }
        function delete_tag(clicked_id) {
            let idlabel = clicked_id;
            let index = 0;;
            for (; index < list_tag.length; index++) {
                if (parseInt(idlabel) === list_tag[index].id) {
                    break;
                }

            }
            if (index < list_tag.length) {
                list_tag.splice(index, 1);
            }
            var s = new String("");
            for (let i = 0; i < list_tag.length; i++) {
                s = s + "<label id = '" + list_tag[i].id + "'>" + list_tag[i].name + "<button id ='" + list_tag[i].id + "' onClick = 'delete_tag(this.id)'>X</button></label>" + '\n';
            }
            document.getElementById("list_tag").innerHTML = s;
            console.log(list_tag);
        }


        const form_create = $("#create-news-form");
        form_create.submit(function (e) {
            e.preventDefault();
            console.log('submit')
            const input_avatar = $("#avatar");
            if (input_avatar.prop('files')[0] === undefined) {
                alert("Vui lòng thêm ảnh đại diện")
            }
            else {
                if (quill.getLength() > 10) {
                    $("#loading-writer-create").show();
                    $("#writer-create-submit-btn-container").hide();
                    let form = new FormData();
                    form.append('avatar', input_avatar[0].files[0]);
                    form.append('title', $("#title").val());
                    form.append('abstract', $("#abstract").val());
                    for (let i = 0, l = list_tag.length; i < l; i++) {
                        form.append('list_tag', list_tag[i].id);
                    }
                    form.append('sub_category', $('#select_sub_category').val())
                    form.append('content', quill.root.innerHTML);
                    $.ajax("/api/writers/createNews", {
                        type: 'post',
                        data: form,
                        processData: false,
                        contentType: false,
                    }).done(function (data) {
                        $("#loading-writer-create").hide();
                        $("#writer-create-submit-btn-container").show();
                        location.href = "/writers";
                    }).fail(function (xhr, textStatus, errorThrown) {
                        alert(errorThrown);
                    });
                }
                else {
                    alert("Vui lòng thêm đủ nội dung")
                }

            }

        })


    </script>
</div>